<ng-form name="form">
	<div class="row" style="margin-bottom: 15px">
		<div class="col-xs-12">
			<div class="input-group">
				<span class="input-group-addon">Description</span>
				<input type="text" id="description" ng-model="release.description" class="form-control"></input>
			</div>
		</div>
	</div>

	<alert type="danger" ng-if="errors.msgs && errors.msg.length > 0" close="errors.msgs=null">
		<div ng-repeat="error in errors.msgs">{{error}}</div>
	</alert>

	<table class="table table-striped table-condensed table-truncate" id="defaultArtifactsPanel">
		<colgroup>
			<col width="1px">
			<col width="565px">
			<col width="99%">
			<col width="195px">
		</colgroup>
		<thead>
			<tr>
				<th colspan="3">Default artifact versions</th>
				<th style="min-width: 195px">
					<div class="pull-right">
						<toolbar-button id="permissions" ng-click="editPermissions()" ng-disabled="readOnly || !release.editable" title="Permissions / ownership"></toolbar-button>
						<toolbar-button id="variables" ng-click="go('/environments/'+environmentName+'/'+release.name+'/variables')" title="Variables"></toolbar-button>
						<toolbar-button id="action" ng-click="editActions()" title="Edit the release deploy actions"></toolbar-button>
						<toolbar-button id="tag" ng-disabled="readOnly || !release.editable || release.hasErrors" ng-click="tagSnapshot()" title="Tag the snapshot"></toolbar-button>
						<toolbar-button id="edit" ng-disabled="release.editable" ng-click="reeditRelease()" title="Reedit the tagged release"></toolbar-button>
					</div>
				</th>
			</tr>
		</thead>
		<tr ng-repeat="defaultArtifact in filteredArtifacts = (release.defaultArtifacts | filter:usedDefaultArtifact())" ng-class="{disabled: defaultArtifact.disabled}">
			<td><div class="icon only" ng-class="defaultArtifact.overlays ? 'artifactWithOverlayIcon' : 'artifactIcon'"></div></td>
			<td style="min-width: 250px;max-width: 600px">{{defaultArtifact.artifact}}</td>
			<td>
				<span ng-if="defaultArtifact.version">{{defaultArtifact.version}}</span>
				<span ng-if="!defaultArtifact.version" style="color:grey;font-style:italic">undefined</span>
			</td>
			<td style="text-align:right">
				<toolbar-button id="overlay" ng-click="go('/environments/'+environmentName+'/'+release.name+'/'+defaultArtifact.artifact+'/*/overlays')" title="Edit overlays"></toolbar-button>
				<toolbar-button id="version" ng-click="changeActiveVersion(defaultArtifact, null)" ng-disabled="readOnly || !release.editable" title="Change active version"></toolbar-button>
			</td>
		</tr>
	</table>
	<div ng-if="!filteredArtifacts.length" class="emptyTable">There are no used artifacts</div>

	<div id="serverArtifactsPanel" class="panel panel-default" style="margin-top:30px">
		<div class="panel-heading status">
			<a id="serverArtifacts" href="" class="h5" ng-click="$prefs.releaseArtifactsCollapsed = !$prefs.releaseArtifactsCollapsed">Artifacts to install on servers</a>
			<span class="checkbox" style="margin-top: 0; margin-bottom: 0">
				<label><input type="checkbox" id="showUnusedServer" ng-if="!readOnly" ng-click="$prefs.hideUnusedServers=!$prefs.hideUnusedServers" />Hide unused servers</label>
			</span> 
		</div>
		<div uib-collapse="$prefs.releaseArtifactsCollapsed">
			<div class="panel-status"></div>
			<accordion class="serverMappings" >
				<accordion-group ng-repeat="serverArtifact in filteredServerArtifacts = (release.servers | filter:usedServer())" is-open="serverStatus[serverArtifact.server]" ng-class="{disabled: serverArtifact.disabled}">
					<accordion-heading>
						<a ng-class="$prefs.hideDisabled && serverArtifact.disabled">{{serverArtifact.server}}</a>
						<toolbar-button id="addArtifact" ng-disabled="readOnly || !release.editable" ng-click="addArtifact($event, serverArtifact)" title="Add artifact to server"></toolbar-button>
					</accordion-heading>
					<table class="table table-striped table-condensed table-truncate">
						<colgroup>
							<col width="1px">
							<col width="600px">
							<col width="99%">
							<col width="1px">
						</colgroup>
						<tr ng-repeat="artifactVersion in filteredArtifacts = (serverArtifact.artifacts | filter:usedServerArtifact())" ng-class="{disabled: artifactVersion.disabled}">
							<td><div class="icon only" ng-class="artifactVersion.overlays ? 'artifactWithOverlayIcon' : 'artifactIcon'"></div></td>
							<td style="min-width: 250px;max-width: 600px">{{artifactVersion.artifact}}</td>
							<td>
								<span ng-if="artifactVersion.version">{{artifactVersion.version}}</span>
								<span ng-if="!artifactVersion.version && inheritedVersion(artifactVersion.artifact)">{{inheritedVersion(artifactVersion.artifact)}} <i>(inherited)</i></span>
								<span ng-if="!artifactVersion.version && !inheritedVersion(artifactVersion.artifact)" style="color:red;font-style:italic">undefined</span>
							</td>
							<td>
								<toolbar-button id="overlay" ng-click="go('/environments/'+environmentName+'/'+release.name+'/'+artifactVersion.artifact+'/'+serverArtifact.server+'/overlays')" title="Edit overlays"></toolbar-button>
								<toolbar-button id="version" ng-click="changeActiveVersion(artifactVersion, serverArtifact.server)" ng-disabled="readOnly || !release.editable" title="Change active version"></toolbar-button>
								<toolbar-button id="delete" ng-click="removeArtifact(serverArtifact, artifactVersion)" ng-disabled="readOnly || !release.editable"></toolbar-button>
							</td>
						</tr>
					</table>
					<div ng-if="!filteredArtifacts.length" class="emptyTable">No active artifacts on this server</div>
				</accordion-group>
			</accordion>
			<div ng-if="!(release.servers | filter:usedServer()).length" class="emptyTable">No used environment servers</div>
		</div>
	</div>

	<alert ng-if="lastKwateeError" close="clearLastKwateeError()" class="alert-danger">{{lastKwateeError}}</alert>
	<div class="row modal-footer">
		<button type="reset" id="revert" class="btn" ng-click="revert()" ng-disabled="form.$pristine">Discard Changes</button>
		<button type="submit" id="save" class="btn btn-primary" ng-click="save()" ng-disabled="form.$pristine">Save</button>
	</div>
</ng-form>