<alert ng-if="lastKwateeError" close="clearLastKwateeError()" class="alert-danger">{{lastKwateeError}}</alert>
<div class="row">
	<div class="col-xs-12">
		<table class="table table-striped table-condensed table-truncate">
			<colgroup>
				<col width="1px">
				<col width="120px">
				<col width="99%">
				<col width="1px">
			</colgroup>
			<thead>
				<tr>
					<th colspan="2"></th>
					<th>
						<toolbar-button style="display: none" id="import" file-chooser file-action="importArtifacts()" ng-model="upload" title="Import artifacts bundle. Shift-click to enter file path local to kwatee server" ng-disabled="readOnly" class="pull-right"></toolbar-button>
					</th>
					<th><toolbar-button id="new" ng-click="newArtifact()" ng-disabled="readOnly" /></th>
				</tr>
			</thead>
			<tr ng-repeat="artifact in filteredArtifacts = (artifacts | filter:enabledObject())" ng-class="{disabled: artifact.disabled}">
				<td><div class="icon only artifactIcon"></div></td>
				<td style="min-width: 120px; max-width: 200px"><a href="#/artifacts/{{artifact.name}}">{{artifact.name}}</a></td>
				<td style="max-width: 550px;"><div style="font-size: 75%; margin-top: 4px">{{artifact.description}}</div></td>
				<td>
					<toolbar-button id="delete" ng-disabled="readOnly" ng-click="deleteArtifact(artifact.name)" />
				</td>
			</tr>
		</table>
		<div ng-if="!filteredArtifacts.length" class="emptyTable">None</div>
	</div>
</div>