<form name="form">
	<div class="panel panel-default" style="margin-top:30px">
		<div class="panel-heading">Upgrade database</div>
		<div class="panel-body">
			<p>You were directed to this page because you have installed a new version of kwatee which requires a database schema upgrade from {{current_schema_version}} to <b>{{required_schema_version}}</b> on the database <em>{{database}}</em>.</p>
			<alert class="alert-warning" style="margin-top:15px">This operation is <b>irreversible</b> and could conceivable fail under some unexpected conditions, so make sure you manually backup your database first.</alert>
			<p>BY INSTALLING AND USING THIS SOFTWARE YOU AGREE TO BE BOUND BY THE <a href="LICENSE.html" target="_blank">Kwatee BCL Agreement</a>.</p>
			<p>Please provide the password of your database user for verification</p>
			<div class="row" style="margin-top:15px">
				<div class="col-sm-3">
					<label>Database login
					<input type="text" class="form-control" ng-model="dba_user" readOnly></input>
					</label>
				</div>
				<div class="col-sm-4">
					<label>Password
					<input type="password" id="pwd" class="form-control" ng-model="dba_password" required auto-focus></input>
					</label>
				</div>
				<div class="col-sm-1">
					<label></label>
					<button type="submit" id="upgrade" class="btn btn-primary" ng-click="upgradeDB(dba_password)">Upgrade</button>
				</div>
			</div>
			<alert type="danger" ng-if="error" close="error=null">{{error}}</alert>
		</div>
	</div>
</form>